:root {
  --main-font: "Crimson Text", serif;
}

body {
  background-color: #f0e68c;
}

header {
  /* padding: 15px; */
  background-color: #d2b48c;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logo-img {
  max-width: 275px;
  max-height: 275px;
  border-radius: 15px;
}

.header-text {
  font-family: "Acme", sans-serif;
  font-weight: 800;
  color: #a0522d;
}

h2 {
    font-size: 5em;
    margin: 5px;
}
nav {
  /* position: relative; left: 20px; */
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 0px;
  }
ul {
  list-style-type: none;
}
.tagline {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 19px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 0px;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }
  header {
    display: flex;
    flex-wrap: wrap;
  }
  #logo-img {
    max-height: 60vh;
    max-width: 60vw;
  }
  h2 {
    font-size: 11vw;
    text-align: center;
  }
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
  .hidden--mobile {
    display: flex;
    width: 10em;
    justify-content: space-around;

  }
}

.main-content, #day-select, .contact-content {
  text-align: center;
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 500;
}

.main-content {
  margin-bottom: 1vw;
}

footer {
  font-family: var(--main-font);
  font-size: 18px;
  text-align: right;
  margin-right: 1vw;
  margin-left: 1vw;
  }

a:link, :visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
}

/* api weather */
.temp {
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 2vw;
  width: max-content;
  border: 1px solid black;
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
}
#temp-intro {
  font-style: italic;
  font-weight: 600;
}
.temp > p {
  margin-top: 0vw;
  margin-bottom: 0vw;
  padding: 0vw 3vw 0vw;
}

/* start contact page css */
.question {
  /* position: relative; left: 50px; */
  display: flex;
  justify-content: center;
  font-style: italic;

}

/* start post sales page css */
#sales-poster {
  margin-left: 8vw;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
}

/* start monday page css */
.monday-content {
  font-family: var(--main-font);
  display: flex;
  justify-content: space-evenly;
}
#monday-title, #print-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  font-family: var(--main-font);
}
table {
  font-size: 18px;
  table-layout: fixed;
  width: 30vw;
  border: 1px solid black;
  padding: 1vw;
  background-color: white;
}
td {
  border: 2px solid;
}
label {
  font-size: 22px;
  font-weight: 800;
}
.save-bttn {
  display: flex;
  justify-content: flex-end;
  margin-right: 4.75vw;
}

/* start print page css */
#prnt-table {
  font-family: var(--main-font);
  font-size: 20px;
  table-layout: fixed;
  width: 35vw;
  background-color: transparent;
  border: transparent;
  margin: auto;
}
#prnt-table td {
  border: solid #a0522d 2px;
  background-color: #d2b48c;
}
#prnt-bttn {
  display: flex;
  justify-content: center;
}
